.agent {
    margin-right: 10rem;
    margin-top: 10rem;
    display: flex;
    align-items: center;     /* по вертикали */
    justify-content: center; /* по горизонтали */
  }
  
  .agentInner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
  
  /* Заголовок */
  .agentTitle {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 24px;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 5rem;
  }
  
  .agentIcon {
    font-size: 24px;
  }
  
  /* Строка ввода */
  .agentInput {
    width: 640px;
    max-width: 90vw;
    padding: 12px 16px;
    border-radius: 12px;
    background-color: #262626;
    display: flex;
    align-items: flex-end;
    gap: 8px;
    
  }
  
  .input {
    flex: 1;
    border: none;
    background: transparent;
    color: #ffffff;
    font-size: 14px;
    outline: none;
    resize: none;
    overflow: hidden;
    padding: 15px;
  }
  
  .send {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
    background: #4f8dfd;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .send img {
    width: 16px;
    height: 16px;
    filter: invert(1);
  }


  .response {
    width: 640px;
    height: auto;
    padding: 30px 30px;
    background-color: #151515;
    border-radius: 12px;

  }

  