
.isOpen {
    transform: translateX(0)
}

.onClose {
    transform: translateX(-80%);
}

.sidebar {
    margin-top: 0;
    width: 260px;
    height: 100vh;
    background-color: #111827;
    position: fixed;
    top: 64px;
    left: 0;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    z-index: 10;
}

.sidebarBtn {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
}

.sidebar img {
    width: 20px;
    display: block;
    filter: invert(1)
}

.sidebarContainer {
    width: 100%;
    display: flex;
}

.sidebarContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 60px 16px 16px;
    max-width: 100%;
    box-sizing: border-box;
}
.sidebarNav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
    flex:1;
}

.sidebarItem {
    color:#e5e7eb;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.4s ease, transform 0.5s ease;
    padding: 8px 16px;
    border-radius: 999px;
    text-decoration: none;
}
.sidebarItem:hover {
    background-color: rgba(249, 250, 251, 0.09);
    
}

.sidebarItem:active {
    background-color: rgba(255, 255, 255, 0.2);
    transform: translateY(1px);
}

.rotated {
    rotate: 180deg;
}
